<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
        <title>Home</title>
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% load static %}

    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

    <!-- NAVBAR -->
        {% block navbar %}
            <nav class="navbar navbar-expand-lg bg-primary-subtle text-black mb-3 text-md-end" >
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo_oscar.png' %}" height="50px"></a>
                <button class="navbar-toggler justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse container-fluid align-items-center" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-end">
                        <li class="nav-item ms-5 align-items-center">
                            <a class="nav-link text-black text-end mt-1" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>

                        {% if user.is_authenticated %}

                            {% comment %} <li class="nav-item">
                                <a class="nav-link text-black text-end" aria-current="page" href="{% url 'upload' %}">
                                    <button type="button" class="btn btn-outline-dark mt-0">New movie</button>
                                </a>
                            </li> {% endcomment %}

                            <li class="nav-item me-5 align-items-center">
                                <a class="nav-link text-black text-end mt-1" aria-current="page" href="{% url 'upload' %}">New movie</a>
                            </li>

                            <li class="nav-item dropdown">

                                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                    
                                    <img class='rounded-circle' src="{% static 'images/pattern-profile.png' %}" width='50px' height='50px' alt="profile photo {{ user.get_username }}">

                                    
                                    

                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">My profile</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Log out</a></li>
                                </ul>
                              </li>

                              <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="modalDeleteLabel">Are you sure you want to log-out?</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                                <a href="{% url 'user_logout' %}" class="btn btn-primary" type="submit">
                                                    Yes, I'm sure
                                                </a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                              
                      

                        {% else %}

                        <li class="nav-item me-5 align-items-center">
                            <a class="nav-link text-black text-end mt-1" aria-current="page" href="{% url 'user_login' %}"> <span><i class="fa-regular fa-circle-user"></i></span> Login</a>
                        </li>

                        <li class="nav-item align-items-center">
                            <a class="nav-link text-black text-end mt-1" aria-current="page" href="{% url 'registration' %}"> <span><i class="fa-regular fa-circle-user"></i></span> SIgn in</a>
                        </li>

                        {% endif %}
                    </ul>  
                </div>
                </div>
            </nav>
        {% endblock %}
    <!-- FIM NAVBAR -->

    <!--CONTENT-->
        {% block content %}
            
        {% endblock %}
    <!--FIM DO CONTENT-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>