{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if messages %}

        {% for message in messages%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

    {% endif %}

</div>

<div class="container h-100 position-relative m-5">
    <div class="w-50 mt-3 h-100 position-absolute start-50 translate-middle">
        <h1 class="text-center">Sign in</h1>
        <form method="POST" action="{% url 'registration' %}" enctype="multipart/form-data" class="p-5 border rounded bg-primary-subtle">
            {% csrf_token %}

            {{form.as_p}}

            {% comment %} <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>            {% endcomment %}

            <button class="btn btn-primary rounded-pill" value="login">Sign up</button>
            <p class='pt-4'>Did you have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div> 
</div>

{% endblock %}